<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="2" >
  <test name="Test1" >
    <parameter name="browser" value="chrome" />
    <parameter name="url" value="https://www.facebook.com" />
    <classes>
      
      <class name="https://www.facebook.com/"/>
      <class name="test.ScreenshotLoginTest"/>
     
    </classes>
  </test>
</suite>